#body{
    background-color: #EDF2F4;
}

#banner{
    height: 30vw;
    background-size: cover;
}

#footer{
    height: 10vw;
}

#row-footer{
    width: 50%;
}

.fondo-container{
    background-color: #FFFAF1;
}